.navbar {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
body {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.btn-h1-spacing {
    margin-top: 8px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.comment {
    margin-bottom: 35px;
}

.author-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float:left;
    margin-left: 15px;
}
.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

.author-name>h4 {
    margin: 5px 0px;
}

.comment-content {
     clear: both;
     margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
 }

.comments-title {
    margin-bottom: 45px;
}

.fa-comment-dots {
    margin-right: 10px;
}

.comments-title>span {
    margin-right: 15px;
}

.jumbotron{
    background-image: url('images/jumbotron-img.jpg');
    background-repeat: no-repeat;
    background-size: cover; height: 100%;
    width: 100%;
}